* {
    margin: 0;
    padding: 0;
}

main {
    /* padding-bottom: 22%; */
    height: 200vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    background: rgba(191, 181, 158, 0.22);
}

.container {
    margin: 0 auto;
    max-width: 60%;
}

h1 {
    color: #444444;
    font-size: 2rem;
}

.accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border-bottom: 1px solid #444444;
    padding-bottom: 2%;
    display: flex;
    cursor: pointer;
}

.image {
    width: auto;
    height: 0;
    transition: height 0.8s ease-out;
    align-self: center;
}

label {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5rem;
    transition: all .5s ease-out;
    cursor: pointer;
}

.labelPlus {
    width: 1.5%;
    transition: all .5s ease-in-out;
}

.radioCheck {
    font-size: 1.5rem;
}

.check {
    appearance: none;
    position: absolute;
}

.check:checked~label .labelPlus {
    transform: rotate(45deg);
}

.check:checked~.image {
    height: 40vh;
}

.radioCheck:hover~label .labelPlus {
    transform: rotate(45deg);
}

@media screen and (hover: hover) {
    .accordion:hover .labelPlus {
        transform: rotate(45deg);
    }

    .accordion:hover .image {
        height: 20vw;
    }

    .radioCheck {
        color: darkblue;
    }

    .content:hover .radioCheck,
    input[type='radio']:checked~.radioCheck {
        color: #444444;
    }

    .labelPlus {
        display: none;
    }

    .content:hover .labelPlus {
        display: block;
    }
}

@media screen and (max-width:1180px) {
    .check:checked~.image {
        height: 50vh;
    }

    .labelPlus {
        width: 2%;
    }

    .radioCheck {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    main {
        height: 150vh;
    }
}

@media screen and (max-width: 568px) {
    .check:checked~.image {
        height: 30vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    .labelPlus {
        width: 3%;
    }

    .radioCheck {
        font-size: 0.8rem;
    }

    main {
        height: 100vh;
    }

}